{% extends 'todolist_app/base.html' %}

{% block content %}
<section id="archive-page" class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="my-3">Archive</h1>
                <ul class="list-group list-group-flush">
                    {% for task in tasks %}
                        <li class="list-group-item">{{ task.title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
    
{% endblock content %}